<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.helloworld1999.mapper.BookMapper">
    <resultMap id="BookResultMap" type="cn.helloworld1999.bean.Book">
        <id property="bookId" column="book_id"/>
        <result property="bookName" column="book_name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
    </resultMap>
    <insert id="insertBook">
        INSERT INTO book_store.book(book_id,book_name, price, stock) VALUES (#{bookId},#{bookName},#{price},#{stock})
    </insert>

    <update id="updateBook" parameterType="cn.helloworld1999.bean.Book">
        UPDATE book_store.book
        <set>
            <if test="bookName != null and bookName != ''">
                book_name = #{bookName},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
        </set>
        <where>
            <if test="bookId != null">
                book_id = #{bookId}
            </if>
        </where>
    </update>

    <delete id="deleteBook">
        DELETE FROM book_store.book WHERE book_id = #{bookId}
    </delete>

    <select id="selectAllBook" resultType="cn.helloworld1999.bean.Book">
        SELECT * FROM book_store.book
    </select>
    <select id="selectBookSelective" resultMap="BookResultMap">
        SELECT * FROM book_store.book
        <where>
            <if test="bookId != null">
                AND book_id = #{bookId}
            </if>
            <if test="bookName != null and bookName != ''">
                AND book_name = #{bookName}
            </if>
            <if test="price != null">
                AND price = #{price}
            </if>
            <if test="stock != null">
                AND stock = #{stock}
            </if>
        </where>
    </select>
    <select id="selectBookSelectiveByBookName" resultType="cn.helloworld1999.bean.Book">
        SELECT * FROM book_store.book
        WHERE book_name LIKE CONCAT('%', #{bookName}, '%')
    </select>
</mapper>