<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.helloworld1999.mapper.UserMapper">
    <insert id="insertUser">

        INSERT INTO book_store.user (user_id, account, password, balance, role, user_phone_num)
        VALUES (#{userId}, #{account}, #{password}, #{balance}, #{role}, #{userPhoneNum})
    </insert>

    <update id="updateUserSelective">
        UPDATE book_store.user
        <set>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="balance != null">
                balance = #{balance},
            </if>
            <if test="userPhoneNum != null and userPhoneNum !=''">
                user_phone_num = #{userPhoneNum}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <select id="showAllUsers" resultType="cn.helloworld1999.bean.User">
        SELECT * FROM book_store.user
    </select>
    <select id="selectUserByAccount" resultType="cn.helloworld1999.bean.User">
        SELECT *
        FROM book_store.user
        WHERE account = #{account}
    </select>
    <select id="selectUserSelective">
        SELECT * FROM book_store.user
        <where>
            <if test="user_id != null">
                AND user_id = #{userId}
            </if>
            <if test="account != null and account != ''">
                AND account = #{account}
            </if>
            <if test="balance != null">
                AND balance = #{balance}
            </if>
            <if test="user_phone_num != null and user_phone_num != ''">
                AND user_phone_num = #{user_phone_num}
            </if>
        </where>
    </select>
    <select id="selectUserByUserId" resultType="cn.helloworld1999.bean.User">
        SELECT * FROM book_store.user WHERE user_id = #{userId}
    </select>
</mapper>